<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="portfolyo" controller="Warext\Portfolio:Portfolio" context="wrxtPortfolioNav"/>
  <route route_type="public" route_prefix="portfolyo" sub_name="calisma" format="calisma/:int&lt;portfolio_id,title&gt;/" controller="Warext\Portfolio:ItemNative" context="wrxtPortfolioNav"/>
  <route route_type="public" route_prefix="portfolyo" sub_name="kullanici" format="kullanici/:int&lt;user_id,username&gt;/:page" controller="Warext\Portfolio:UserPortfolio" context="wrxtPortfolioNav"/>
  <route route_type="public" route_prefix="portfolyo-yorum-onizle" controller="Warext\Portfolio:CommentPreview" context="wrxtPortfolioNav"/>
  <route route_type="admin" route_prefix="wrxt-portfolyo" controller="Warext\Portfolio:PortfolioControl" context="wrxtPortfolioAdmin"/>
  <route route_type="admin" route_prefix="wrxt-portfolyo-queue" controller="Warext\Portfolio:QueueAction" context="wrxtPortfolioAdmin"/>
</routes>
